
@model InfoBoardViewModel

<table id="tbl-arrivals">
    <thead>
        @await Html.PartialAsync("InfoBoard/_Header")
    </thead>
    <tbody id="tbl-body-arrivals"
           hx-get="/InfoBoard/Update/@Model.StopId"
           hx-trigger="every 5s"
           hx-swap="innerHTML"
           hx-target="#tbl-body-arrivals">
        @await Html.PartialAsync("InfoBoard/_Rows", Model)
    </tbody>
</table>