
@model InfoBoardViewModel

<table id="tbl-arrivals">
    <thead>
        @await Html.PartialAsync("InfoBoard/_Header")
    </thead>
    <tbody id="tbl-body-arrivals"
           hx-post="/InfoBoard/UpdateBoard?stopId=@Model.StopId"
           hx-trigger="every 5s">
        @await Html.PartialAsync("InfoBoard/_Rows", Model)
    </tbody>
</table>