@model InfoBoardViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div id="current-time">
    @await Html.PartialAsync("Components/_Time")
</div>

<div id="train-info-board">
    @await Html.PartialAsync("../Shared/InfoBoard/_Arrivals", Model, ViewData)
</div>

<div id="stop-slct">
    @await Html.PartialAsync("Components/_StopSelect", Model, ViewData)
</div>

<div id="alerts">
    @await Html.PartialAsync("InfoBoard/_RouteAlertsModal", Model, ViewData)
</div>




