<link rel="stylesheet" href="~/css/traininfo.css" asp-append-version="true" />

@model InfoBoardViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div id="train-info-board">
    @await Html.PartialAsync("../Shared/InfoBoard/_Arrivals", Model, ViewData)
</div>

<div id="stop-slct">
    @await Html.PartialAsync("Components/_StopSelect", Model, ViewData)
</div>

<div id="route-alerts">
    @await Html.PartialAsync("InfoBoard/_RouteAlertsModal", Model)
</div>

<script src="~/js/InfoBoard/infoboard.js"></script>




