@model InfoBoardViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<div id="train-info">
    @await Html.PartialAsync("../Shared/InfoBoard/_Arrivals", Model, ViewData)
</div>

<div id="stop-slct">
    @await Html.PartialAsync("Components/_StopSelect", Model, ViewData)
</div>





