@using DotNetPIS.Domain.Models.SEPTA

@{
    ViewData["Title"] = "InfoBoard";
    var arrivals = ViewData["Arrivals"] as List<Arrival> ?? new List<Arrival>();
    var stationName = ViewData["Station Name"] as string;
}

<h1>Train Information for @stationName</h1>

@await Html.PartialAsync("../Shared/InfoBoard/_Arrivals", arrivals, ViewData)




