<link rel="stylesheet" href="~/css/Alerts/alerts.css" asp-append-version="true" />

@foreach (var alert in @Model.SeptaAlerts)
{
    <div id="alert">
        @Html.Raw(alert.AdvisoryMessage)
    </div>
}