@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DotNetPIS.App.Models.Components.AlertsViewModel

<link rel="stylesheet" href="~/css/Alerts/alerts.css" asp-append-version="true" />

@if (Model.AgencyName.Equals("SEPTA"))
{
    @foreach (var alert in @Model.SeptaAlerts)
    {
        <div id="alert">
            @Html.Raw(alert.AdvisoryMessage)
        </div>
    }
}