@model InfoBoardViewModel

<form id="selectForm" method="post" action="/InfoBoard/UpdateBoard">
    <select name="stopId" id="stop-slct" asp-for="@Model.StationName" asp-items="@Model.Stops">
    </select>

    <button  class="btn-primary" type="submit">Submit</button>
</form>